/* Reset some default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Define a background animation for the healthcare-related content */
.background-animation {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: url('images/Healthcare\ CHATBOT.png') no-repeat center center fixed;
    background-size: cover;
    animation: backgroundAnimation 2s linear infinite;
    z-index: -1;
}

@keyframes backgroundAnimation {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.05);
    }
    100% {
        transform: scale(1);
    }
}

.header {
    background-color: #18a1a4;
    color: #fff;
    text-align: center;
    padding: 10px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.content {
    background-color: #fff;
    padding: 45px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    text-size-adjust: 30px;
    margin-bottom: 10px;
}

.btn {
    display: inline-block;
    background-color: #007BFF;
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    margin: 0 10px;
    transition: background-color 1s ease;
}

.btn:hover {
    background-color: #0056b3;
}
